.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .title{
    font-family: math;
    color: aliceblue;
  }
  
  h1 {
    font-size: 24px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    text-decoration: none;
    color: rgb(252, 252, 252);
    font-size: 16px;
  }
  
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
    }
  
    h1 {
      margin-bottom: 10px;
    }
  
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    nav li {
      margin: 5px 0;
    }

    title {
      font-family: fantasy;
      color: aliceblue;
    }
  }
  
  